#site-logo {
  width: 7em;
}

#branding-menu {
  top: 2em !important;
}

#branding-pin {
  top: 1.5em !important;
}

/* .sidebar {
  left: unset;
  transition: background-color 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, transform 0.3s;
  transition: background-color 0.3s, transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
} */

/* .sidebar-container-toggle {
  float: right;
  padding: 0.71429rem 1.42857rem 0 0.71429rem;
}

.user-tools ul li.user-tools-welcome-msg {
  right: 2em;
} */
