.sidebar-container-toggle {
  float: unset;
  padding: 0.71429rem 1.42857rem 0.71429rem 0;
}

.user-tools ul {
  right: unset !important;
  left: 15px;
}

.sidebar.sidebar-opened {
  left: unset;
}

.sidebar {
  left: unset;
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#branding-menu {
  right: 20px;
  left: unset;
}

#branding-pin {
  right: unset;
  left: 20px;
}

body.menu-pinned #container {
  padding-right: 250px;
  padding-left: unset;
}

div.breadcrumbs.initialized {
  display: flex;
  align-items: center;
}

.breadcrumbs-separator {
  transform: rotate(180deg);
}

.user-tools ul li.user-tools-welcome-msg:before {
  float: left;
}

.form-row > div {
  display: flex;
}

.changeform-navigation {
  display: flex !important;
  flex-direction: row-reverse;
  float: right;
}

.object-tools {
  text-align: left;
}

.deletelink::before {
  float: left;
  line-height: unset;
}

body.login #container {
  padding: unset;
}

.inline-related h3 span.delete label:before,
.inline-related h3 .inline-deletelink label:before {
  float: left;
  line-height: unset;
}

input[type="checkbox"] + label::before {
  padding: 5px;
}

fieldset .field-box {
  margin-right: unset;
  margin-left: 1.42857rem;
  float: right;
}
