#site-logo {
  width: 7em;
}

#branding-menu {
  top: 2em !important;
}

#branding-pin {
  top: 1.5em !important;
}

.dashboard-tools {
  display: none;
}

.dashboard-tools-toggle-container {
  display: none !important;
}

fieldset .field-box,
.form-row > div {
  border: dotted;
  padding: 1px;
}

.aligned .vCheckboxLabel {
  padding: 2px;
}

body {
  color: unset;
}

thead th,
tfoot td {
  text-align: unset;
}
