@font-face {
    font-family: "tabu";
    src: url("http://bpms.godakhtar.co.ir/static/font/TabulaITCStd-Book.otf");
}

html {
    font-family: tabu, serif;
    font-size: 1em;
    line-height: 2em;
}

.body-text {
    color: #677C81;
    font-size: 1em;
    line-height: 1.5em;
}