{% extends "admin/base.html" %} 
{% load static i18n %} 
{% load static %}

{% block branding %}
{{ block.super}}

<div>
  <div>
    <img id="site-logo" src="{% static 'img/logo.svg' %}"/>
  </div>

  <h1 id="site-name">
    </span> {% trans "GODAKHTAR" %}
  </h1>
</div>
{% endblock %} 

{% block extrahead %}
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == "fa" %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base_site_fa.css' %}">
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base_site.css' %}">

{% endblock %}
