{% load static %}
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bpms.godakhtar.co.ir{% static 'css/offer.css' %}">
    <title>Commercial Offer</title>
</head>
<body>
<div class="pure-g" style="border-style: hidden hidden solid hidden; border-width: 1px;">
    <div class="pure-u-1-5">
        <img src="http://bpms.godakhtar.co.ir{% static 'img/logo.png' %}" width="100" height="100" alt="logo">
    </div>
    <div class="pure-u-2-5"></div>
    <div class="pure-u-2-5">
        <div style="letter-spacing: 3px; font-size:1em"><b>PRICE</b> LIST</div>
        <div>All our valves are filled with graphite gasket.</div>

        <div class="pure-g" dir="rtl">
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding: 5px 5px 0;">
                <span>OUR REF</span>
                <br>
                <span class="body-text">{{ our_ref }}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden solid hidden solid; border-width: 1px;  padding: 5px 5px 0;">
                <span>YOUR REF</span>
                <br>
                <span class="body-text">{{ your_ref }}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding: 5px 5px 0;">
                <span>DATE</span>
                <br>
                <span class="body-text">{% now "jS F Y" %}</span>
            </div>
        </div>

    </div>
</div>

<br>
<div class="pure-g"
     style="border-style: solid hidden hidden hidden; border-width: 1px; font-size:0.5em; line-height:1em; padding-top: 5px">
    <div class="pure-u-1-24">
        <div>ITEM</div>
    </div>

    <div class="pure-u-1-24">
        <div>QTY</div>
    </div>

    <div class="pure-u-1-24">
        <div>MODEL</div>
    </div>

    <div class="pure-u-1-24">
        <div>SIZE</div>
    </div>

    <div class="pure-u-1-24">
        <div>CLASS</div>
    </div>

    <div class="pure-u-1-24">
        <div>ENDS</div>
    </div>

    <div class="pure-u-2-24">
        <div>OPERATION</div>
    </div>

    <div class="pure-u-1-24">
        <div>ACTUATOR</div>
    </div>

    <div class="pure-u-2-24">
        <div>BODY + CONNECTORS</div>
    </div>

    <div class="pure-u-1-24">
        <div>BALLS</div>
    </div>

    <div class="pure-u-1-24">
        <div>TRIM</div>
    </div>

    <div class="pure-u-2-24">
        <div>SEAT + INSERT</div>
    </div>

    <div class="pure-u-2-24">
        <div>BOLTS / NUTS</div>
    </div>

    <div class="pure-u-2-24">
        <div>O'RING OR LIP SEAL</div>
    </div>

    <div class="pure-u-2-24">
        <div>LOADING WASHERS</div>
    </div>

    <div class="pure-u-1-24">
        <div>U.P(€)</div>
    </div>

    <div class="pure-u-1-24">
        <div>TOTAL(€)</div>
    </div>
</div>
<br>
{% for product in products %}
    <div class="pure-g" style="font-size:0.5em; line-height:1em; padding-top: 5px">
        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.tag_no }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.qty }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.model }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.size }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.class }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.ends }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.operation }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.actuator }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.body_plus_connectors }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.ball }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.trim }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.seat_plus_insert }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.bolt_slash_nuts }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.o_ring_or_lip_seal }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.loading_washer }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.unit_price }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.total_price }}
            </div>
        </div>
    </div>
    <br>
{% endfor %}


<div class="pure-g">
    <div class="pure-u-1-2">
        <div style="border-style: solid; border-width: 1px; padding: 3px 0;">
        <span style="background: black; color:white; padding: 10px;">
            TOTAL ITEM QUOTED
        </span>
            <span style="padding: 10px">
            {{ sum_qty }}
        </span>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div style="border-style: solid; border-width: 1px; padding: 3px 0;">
        <span style="background: black; color:white; padding: 10px;">
            TOTAL PRICE
        </span>
            <span style="padding: 10px">
            {{ sum_total_price }}
        </span>
        </div>
    </div>
</div>

<br>

<div class="pure-g" style="border-style: solid hidden hidden hidden; border-width: 1px">
    <div class="pure-u">
        OPTIONS
        <br>
        Additional prices if requested (please contact our sales team)
    </div>
</div>

<br>

<div class="pure-g" style="">
    <div class="pure-u-11-24">
        <br>
        <div class="pure-g"
             style="border-style: solid hidden hidden hidden; border-width: 1px; font-size:1em; line-height:1em; padding-top: 5px">
            <div class="pure-u-12-24">
                <div>NON DESTRUCTIVE EXAMINATION</div>
            </div>

            <div class="pure-u-4-24">
                <div>QTY</div>
            </div>

            <div class="pure-u-4-24">
                <div>UNIT PRICE</div>
            </div>

            <div class="pure-u-4-24">
                <div>TOTAL PRICE</div>
            </div>
        </div>
        <br>
        {% for exam in non_destructive_examination %}
            <div class="pure-g" style="font-size:0.5em; line-height:1em; padding-top: 5px">
                <div class="pure-u-12-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ exam.title }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ exam.qty }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ exam.unit_price }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ exam.total_price }}
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>

    <div class="pure-u-2-24"></div>

    <div class="pure-u-11-24">
        <br>
        <div class="pure-g"
             style="border-style: solid hidden hidden hidden; border-width: 1px; font-size:1em; line-height:1em; padding-top: 5px">
            <div class="pure-u-12-24">
                <div>DOCUMENTATIONS</div>
            </div>

            <div class="pure-u-4-24">
                <div>QTY</div>
            </div>

            <div class="pure-u-4-24">
                <div>UNIT PRICE</div>
            </div>

            <div class="pure-u-4-24">
                <div>TOTAL PRICE</div>
            </div>
        </div>
        <br>
        {% for document in documentation %}
            <div class="pure-g" style="font-size:0.5em; line-height:1em; padding-top: 5px">
                <div class="pure-u-12-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ document.title }}
                    </div>
                </div>
                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ document.qty }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ document.unit_price }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ document.total_price }}
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

        <br>
        <div class="pure-g"
             style="border-style: solid hidden hidden hidden; border-width: 1px; font-size:1em; line-height:1em; padding-top: 5px">
            <div class="pure-u-12-24">
                <div>INSPECTIONS</div>
            </div>

            <div class="pure-u-4-24">
                <div>QTY</div>
            </div>

            <div class="pure-u-4-24">
                <div>UNIT PRICE</div>
            </div>

            <div class="pure-u-4-24">
                <div>TOTAL PRICE</div>
            </div>
        </div>
        <br>
        {% for inspection in inspections %}
            <div class="pure-g" style="font-size:0.5em; line-height:1em; padding-top: 5px">
                <div class="pure-u-12-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ inspection.title }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ inspection.qty }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ inspection.unit_price }}
                    </div>
                </div>

                <div class="pure-u-4-24">
                    <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                        {{ inspection.total_price }}
                    </div>
                </div>
            </div>
            <br>
        {% endfor %}

    </div>
</div>
</body>
</html>