{% load static %}
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bpms.godakhtar.co.ir{% static 'css/offer.css' %}">
    <title>Commercial Offer</title>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-5">
        <img src="http://bpms.godakhtar.co.ir{% static 'img/logo.png' %}" style="{width: 200px; height: 200px }"
             alt="logo">
    </div>
    <div class="pure-u-2-5"></div>
    <div class="pure-u-2-5">
        <span style="letter-spacing: 3px; font-size:1.5em"><b>COMMERCIAL</b> OFFER</span>
        <br><br>
        <div class="pure-g" style="font-size:0.9em">
            <div class="pure-u-1-2">
                Head Office:
                <br>
                Unit 1, No. 2, Sarv St.,
                <br>
                Nelson Mandela Blvd.,
                <br>
                Tehran, Iran
            </div>
            <div class="pure-u-1-2">
                <br>
                P.o. Code: 1968945711
                <br>
                Phone: +98 21 - 81799
                <br>
                Fax: +98 21 - 81795555
            </div>
        </div>
        <br><br>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1" dir="rtl">
        <span class="body-text">Innovative Solutions In Valve Technologe</span>
    </div>
</div>
<div class="pure-g" style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
    <div class="pure-u-3-5">
        <span>To: </span><span class="body-text">{{ to }}</span>
        <br>
        <span>Attention: </span><span class="body-text">{{ attention }}</span>
        <br>
        <span>From: </span><span class="body-text">{{ from }}</span>
        <br>
        <span>Sales Area Manager: </span><span class="body-text">{{ sales_manager_area }}</span>
    </div>
    <div class="pure-u-2-5">
        <div class="pure-g">
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden solid hidden; border-width: 1px;  padding:5px">
                <span>DATE</span>
                <br>
                <span class="body-text">{% now "jS F Y" %}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden solid solid solid; border-width: 1px;  padding:5px">
                <span>YOUR REF</span>
                <br>
                <span class="body-text">{{ your_ref }}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden solid hidden; border-width: 1px;  padding:5px">
                <span>OUR REF</span>
                <br>
                <span class="body-text">{{ our_ref }}</span>
            </div>
        </div>
    </div>
</div>

<br>

NOTE:
<div style="border-style: solid hidden solid hidden; border-width: 1px; padding:0">
    <br><br>
    <div class="body-text">
        {{ note }}
    </div>
    {#    <br>#}
    {#    <div class="pure-g body-text">#}
    {#        <div class="pure-u-2-5">#}
    {#            J. BOUCHON#}
    {#        </div>#}
    {#        <div class="pure-u-1-5"></div>#}
    {#        <div class="pure-u-2-5">#}
    {#            B. RAPETTO#}
    {#        </div>#}
    {#    </div>#}
    {#    <br>#}
</div>

<div>
    TERMS & CONDITIONS
    <div class="pure-g">
        <div class="pure-u-11-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>PRICES</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.prices }}
                </span>
            </div>
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>DELIVERY</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.delivery }}
                </span>
            </div>
{#            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">#}
{#                <span>INCOTERM</span>#}
{#                <br>#}
{#                <span class="body-text">#}
{#                    {{ terms_and_conditions.incoterm }}#}
{#                </span>#}
{#            </div>#}
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>PACKING</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.packaging }}
                </span>
            </div>
            <div style="border-style: solid hidden solid hidden; border-width: 1px; padding:0">
                <span>VALIDITY</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.validity }}
                </span>
            </div>
        </div>
        <div class="pure-u-2-24"></div>
        <div class="pure-u-11-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>PAYMENT</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.payment }}
                </span>
            </div>
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>WARRANTY</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.warranty }}
                </span>
            </div>
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
                <span>MATERIAL ORIGIN</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.material_origin }}
                </span>
            </div>
{#            <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">#}
{#                <span>STANDARD TERMS AND CONDITIONS OF SALES</span>#}
{#                <br>#}
{#                <span class="body-text">#}
{#                    {{ terms_and_conditions.standard_terms_and_conditions_of_sales }}#}
{#                </span>#}
{#            </div>#}
            <div style="border-style: solid hidden solid hidden; border-width: 1px; padding:0">
                <span>TITLE RETENTION CLAUSE</span>
                <br>
                <span class="body-text">
                    {{ terms_and_conditions.title_retention_clause }}
                </span>
            </div>
        </div>
    </div>
</div>

</body>
</html>