{% load static %}
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bpms.godakhtar.co.ir{% static 'css/offer.css' %}">
    <title>Commercial Offer</title>
</head>
<body>
<div class="pure-g" style="border-style: hidden hidden solid hidden; border-width: 1px;">
    <div class="pure-u-1-5">
        <img src="http://bpms.godakhtar.co.ir{% static 'img/logo.png' %}" width="100" height="100" alt="logo">
    </div>
    <div class="pure-u-2-5"></div>
    <div class="pure-u-2-5">
        <div style="letter-spacing: 3px; font-size:1em"><b>PRICE</b> LIST</div>
        <div>All our valves are filled with graphite gasket.</div>

        <div class="pure-g" dir="rtl">
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding: 5px 5px 0;">
                <span>OUR REF</span>
                <br>
                <span class="body-text">skjdfkjdsahfkj</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden solid hidden solid; border-width: 1px;  padding: 5px 5px 0;">
                <span>YOUR REF</span>
                <br>
                <span class="body-text">skjdfkjdsahfkj</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding: 5px 5px 0;">
                <span>DATE</span>
                <br>
                <span class="body-text">skjdfkjdsahfkj</span>
            </div>
        </div>

    </div>
</div>
UNPRICED LIST
<br>
<br>
<div class="pure-g"
     style="border-style: solid hidden hidden hidden; border-width: 1px; font-size:0.5em; line-height:1em; padding-top: 5px">
    <div class="pure-u-1-24">
        <div>ITEM</div>
    </div>

    <div class="pure-u-1-24">
        <div>QTY</div>
    </div>

    <div class="pure-u-1-24">
        <div>MODEL</div>
    </div>

    <div class="pure-u-1-24">
        <div>SIZE</div>
    </div>

    <div class="pure-u-1-24">
        <div>CLASS</div>
    </div>

    <div class="pure-u-1-24">
        <div>ENDS</div>
    </div>

    <div class="pure-u-2-24">
        <div>OPERATION</div>
    </div>

    <div class="pure-u-2-24">
        <div>ACTUATOR</div>
    </div>

    <div class="pure-u-2-24">
        <div>BODY + CONNECTORS</div>
    </div>

    <div class="pure-u-1-24">
        <div>BALLS</div>
    </div>

    <div class="pure-u-1-24">
        <div>TRIM</div>
    </div>

    <div class="pure-u-3-24">
        <div>SEAT + INSERT</div>
    </div>

    <div class="pure-u-2-24">
        <div>BOLTS / NUTS</div>
    </div>

    <div class="pure-u-2-24">
        <div>O'RING OR LIP SEAL</div>
    </div>

    <div class="pure-u-2-24">
        <div>LOADING WASHERS</div>
    </div>
</div>
<br>

{% for product in products %}
    <div class="pure-g" style="font-size:0.5em; line-height:1em; padding-top: 5px">
        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.tag_no }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.qty }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.model }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.size }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.class }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.ends }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.operation }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.actuator }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.body_plus_connectors }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.ball }}
            </div>
        </div>

        <div class="pure-u-1-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.trim }}
            </div>
        </div>

        <div class="pure-u-3-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.seat_plus_insert }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.bolt_slash_nuts }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.o_ring_or_lip_seal }}
            </div>
        </div>

        <div class="pure-u-2-24">
            <div style="border-style: solid hidden hidden hidden; border-width: 1px; margin: 5px 10px 5px 0; padding: 5px 10px 5px 0;">
                {{ product.loading_washer }}
            </div>
        </div>
    </div>
    <br>
{% endfor %}

</body>
</html>