{% load static %}
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
          integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="http://bpms.godakhtar.co.ir{% static 'css/offer.css' %}">
    <title>Commercial Offer</title>
</head>
<body>
<div class="pure-g">
    <div class="pure-u-1-5">
        <img src="http://bpms.godakhtar.co.ir{% static 'img/logo.png' %}" style="{width: 200px; height: 200px }"
             alt="logo">
    </div>
    <div class="pure-u-2-5"></div>
    <div class="pure-u-2-5">
        <span style="letter-spacing: 3px; font-size:1.5em"><b>Technical</b> OFFER</span>
        <br><br>
        <div class="pure-g" style="font-size:0.9em">
            <div class="pure-u-1-2">
                Head Office:
                <br>
                Unit 1, No. 2, Sarv St.,
                <br>
                Nelson Mandela Blvd.,
                <br>
                Tehran, Iran
            </div>
            <div class="pure-u-1-2">
                <br>
                P.o. Code: 1968945711
                <br>
                Phone: +98 21 - 81799
                <br>
                Fax: +98 21 - 81795555
            </div>
        </div>
        <br><br>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1-2" style="border-style: hidden hidden solid hidden; border-width: 1px;">
        <div class="pure-g">
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding:5px">
                <span>DATE</span>
                <br>
                <span class="body-text">{% now "jS F Y" %}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden solid hidden solid; border-width: 1px;  padding:5px">
                <span>YOUR REF</span>
                <br>
                <span class="body-text">{{ your_ref }}</span>
            </div>
            <div class="pure-u" dir="ltr"
                 style="border-style: hidden hidden hidden hidden; border-width: 1px;  padding:5px">
                <span>OUR REF</span>
                <br>
                <span class="body-text">{{ our_ref }}</span>
            </div>
        </div>
    </div>
    <div class="pure-u-1-2" dir="rtl" style="border-style: hidden hidden solid hidden; border-width: 1px">
        <br>
        <span class="body-text">Innovative Solutions In Valve Technologe</span>
    </div>
</div>

<br>
<br>


<div class="pure-g">
    <div class="pure-u-11-24">
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>DETAILED VALVES DESCRIPTIONS</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.detailed_valves_description }}
            </span>
        </div>
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>VALVES TYPES</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.valve_types }}
            </span>
        </div>
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>OPTIONAL EQUIPMENT</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.optional_equipments }}
            </span>
        </div>
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>PAINTING</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.painting }}
            </span>
        </div>
    </div>
    <div class="pure-u-2-24"></div>
    <div class="pure-u-11-24">
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>VALVES TESTING</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.valve_testing }}
            </span>
        </div>
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>NON DESTRUCTIVE EXAMINATION ON BODY AND FLANGES</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.non_destructive_examination }}
            </span>
        </div>
        <div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
            <span>DOCUMENTATION</span>
            <br>
            <span class="body-text">
                {{ technical_offer_details.documentation }}
            </span>
        </div>
    </div>
</div>

<br>
<br>

<div style="border-style: solid hidden hidden hidden; border-width: 1px; padding:0">
    <b>EXCEPTIONS AND</b> COMMENTS
    <br>
    <br>
    <div class="pure-g" style="border-style: solid ; border-width: 1px; padding:5px">
        <div class="pure-u-1 body-text">
            {{ technical_offer_details.exceptions_and_comments }}
        </div>
    </div>
</div>

</body>
</html>